---
import { Image } from "astro:assets";

interface Props {
	source: ImageMetadata;
	alt: string;
	title: string;
	body: string;
	gradientStartColor: string;
	gradientEndColor: string;
}

const { source, alt, title, body, gradientStartColor, gradientEndColor } =
	Astro.props;
---

<div class="card">
	<Image src={source} alt={alt} id={"card-image"} />
	<h3>{title}</h3>
	<div class="swipe-up">
		<div class="text-box">
			<p>{body}</p>
		</div>
		<svg viewBox="0 0 599 600" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<linearGradient
					id="gradient"
					x1="0%"
					x2="0%"
					y1="0%"
					y2="50%"
				>
					<stop offset="0%" stop-color={gradientStartColor}></stop>
					<stop offset="100%" stop-color={gradientEndColor}></stop>
				</linearGradient>
			</defs>
			<path
				d="
			M 0 600
			L 0 240
			L 450 150
			C 450 150 600 100 600 240
			L 600 600
			L 0 600
			"
			fill="url('#gradient')"
			></path>
		</svg>
	</div>
</div>

<style>
	.card {
		position: relative;
		box-shadow: 0px 0px 5px black;
		min-width: 300px;
		max-width: 300px;
		height: auto;
		overflow-y: hidden;
		font-size: 0.9em;
	}
	.swipe-up {
		position: absolute;
		transition: top 0.5s ease;
		top: 150px;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.text-box {
		position: absolute;
		width: 275px;
    	bottom: 40px;
		padding: 10px;
		z-index: 3;
		font-size: .8em;
		text-align: end;
	}
	h3 {
		padding: 0.2rem 0.6rem;
		position: absolute;
		top: -21px;
		border-bottom-right-radius: 1.2rem;
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 1;
	}
	svg {
		stroke-width: 0.5rem;
		fill: url(#gradient);
		position: absolute;
		top: 30px;
		left: 0;
		height: 100%;
		width: 100%;
		margin-top: 0.3rem;
		border-radius: 2rem;
		filter: drop-shadow(0 0 5px #fffffff0);
		z-index: 2;
	}
	#card-image {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.card:hover .swipe-up {
		top: 30px;
	}

	.card,
	svg,
	#card-image {
		border-radius: 2rem;
	}
</style>
